body {
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: dodgerblue;
    padding: 10px;
  }
  .grid-container div {
    background-color: #f1f1f1;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }